.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 2rem;
}

.starting h3 {
  font-weight: normal;
}

.link {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  outline: none;
  text-decoration: none;
}

.link:hover,
.link:active {
  background-color: #460897;
  border-color: #460897;
}
